:root {
    --btn-signIn-red: #e50914;
    --btn-red: #e30813;
    --white: #ffffff;
    --black: #000000;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/main-background.jpg);
    background-position: center;
    background-size: cover;
}

.navbar {
    border: 1px solid black;
    height: 15vh;
    display: flex;
    justify-content: space-between;
}

.navbar > div {
    border: 1px solid red;
}

.container1-body {
    height: 85vh;
}

.logo {
    margin-left: 4%;
}

.navbar-align-right {
    color: var(--white);
    width: 17.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4%;
}

.navbar-align-right > div {
    border: 1px solid white;
}